* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: "Arial", sans-serif;
}

h1 {
  text-align: center;
}

#timeLine ul {
  display: grid;
  grid-template-columns: 2;
  justify-content: center;
}

li {
  background-color: rgba(255, 255, 255, 0.714);
  border: 2px ridge rgb(66, 66, 13);
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  height: 90vh;
  display: grid;
  grid-template-rows: 1fr 1fr 50% 30%;
}

li p#dateEvent {
  color: black;
  font-size: 1.5rem;
  grid-row: 1;
  background-color: rgb(220, 220, 15);
  border-top-right-radius: 70%;
  border-bottom-right-radius: 70%;
}
li p#titleEvent {
  color: black;
  font-size: 1.4rem;
  grid-row: 2;
  background-color: rgb(179, 179, 7);
  border-top-right-radius: 70%;
  border-bottom-right-radius: 70%;
}
li img#imgEvent {
  justify-self: center;
  grid-row: 3;
}
li p#textEvent {
  background-color: yellowgreen;
  color: rgb(29, 38, 6);
  grid-row: 4;
}

@media screen and (min-width: 600px) {
  body {
    background-color: gray;
  }

  #timeLine {
    width: 70vw;
    margin: auto;
  }
  li {
    height: 70vh;
  }
}

@media screen and (min-width: 1000px) {
  body {
    background-color: rgb(5, 89, 5);
  }
  #timeLine {
    width: 40vw;
    margin: auto;
  }
  #timeLine ul {
    display: grid;
    grid-template-columns: 40vw 40vw;
    justify-content: center;
  }
  li {
    height: 80vh;
  }
}

/*

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
}



#timeLine ul li {
  width: 80%;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  margin: 20px;
  padding: 20px;
  font-size: 36px;
  color: #ffcc00;
  text-align: center;
}

li {
  list-style: none;
  margin: 20px;
  padding: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

#dateEvent {
  border: solid 1px red;
} 

@media screen and (min-width: 800px) {
}

#timeLine ul {
  display: flex;
  flex-wrap: wrap;
}

#timeLine ul li {
  border: 1px white solid;
  width: 30%;
}


@media screen and (min-width: 1000px) {
}

*/
