* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: "Arial", sans-serif;
}

h1 {
  text-align: center;
}

#timeLine ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

li {
  border: 1px solid rebeccapurple;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

@media screen and (min-width: 600px) {
  body {
    background-color: gray;
  }

  #timeLine {
    width: 60vw;
    margin: auto;
  }
}

/*

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
}



#timeLine ul li {
  width: 80%;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  margin: 20px;
  padding: 20px;
  font-size: 36px;
  color: #ffcc00;
  text-align: center;
}

li {
  list-style: none;
  margin: 20px;
  padding: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

#dateEvent {
  border: solid 1px red;
} 

@media screen and (min-width: 800px) {
}

#timeLine ul {
  display: flex;
  flex-wrap: wrap;
}

#timeLine ul li {
  border: 1px white solid;
  width: 30%;
}


@media screen and (min-width: 1000px) {
}

*/
