/* Estilos para el formulario */
#taskForm {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  #taskForm input[type="text"],
  #taskForm input[type="url"],
  #taskForm textarea,
  #taskForm input[type="date"],
  #taskForm button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #taskForm button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #taskForm button:hover {
    background-color: #45a049;
  }
  
  #taskForm input[type="text"]:focus,
  #taskForm input[type="url"]:focus,
  #taskForm textarea:focus,
  #taskForm input[type="date"]:focus {
    outline: none;
    border-color: #4CAF50;
  }